/* Masquage des éléments non nécessaires à l'impression */
header,
footer,
nav,
.hamburger,
.modal,
.projects-container img {
   display: none;
}

/* Optimisation de la mise en page pour l'impression */
body {
   font-size: 12pt;
   line-height: 1.6;
   color: black;
   background: white;
}

.container {
   width: 100%;
   margin: 0;
   padding: 0;
}

.section {
   page-break-before: always;
}

h1,
h2,
h3 {
   color: black;
}

img {
   max-width: 100%;
}
